:root {
  --site-background: #000028;
  --title-color: #db00ff;
  --section-title: #ff0070;
  --text-background: #ff0070;
  --article-text: #f1b2ce;
  --article-title: #000028;
  --display: block;
  --background-url: url(cover-image-dark.png);
}
